.App {
  text-align: center;
}

html,
body {
  z-index: -1;
  margin: 0px;
  padding: 0px;
  color: #fff;
  height: 100%;
  background-color: #515E63;
  font-family: "Baloo Da 2", cursive;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #A35709;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.token {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-particles__container {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}

.middle {
  position: fixed;
  text-align: center;
  padding: 100px 40px;
  top: 45%;
  left: 50%;
  color: "#515E63";
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
